{% extends "base.html" %}
{% block title %}Crear Curso - GestAcad{% endblock %}
{% block content %}
<div class="content-box">
    <h1 class="welcome mb-4">Crear Curso</h1>
    {% if messages %}
      <div class="container">
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'cursos:listar_cursos' %}" class="btn btn-light ms-2">Volver a la lista</a>
    </form>
</div>
{% endblock %}
